.myHeader{
  background-color :crimson;
  padding : 10px 20px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}


.App {
 flex-direction: row;
 display:  flex;
 flex: 1;
 width: 100%;
 justify-content: space-around;
 flex-wrap: wrap;
 padding: 0px 20px;
}

.radio-station{
  background: #ddd;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  cursor: pointer;

}

.radio-station img{
 
width: 225px;
height: 225px;
}

.player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}